In [1]:
import pandas as pd
import numpy as np
import zipfile
import wget
import requests
import io
import regex as re
import os

In [2]:
defunciones = pd.read_csv("https://raw.githubusercontent.com/CatitaR/CapstoneProject_ADD/main/data/raw/defunciones_deis_2017.csv", 
                          encoding='latin-1',
                          sep=";")

In [3]:
defunciones

,ANO_DEF,FECHA_DEF,GLOSA_SEXO,EDAD_TIPO,EDAD_CANT,CODIGO_COMUNA_RESIDENCIA,GLOSA_COMUNA_RESIDENCIA,GLOSA_REG_RES,DIAG1,CAPITULO_DIAG1,...,DIAG2,CAPITULO_DIAG2,GLOSA_CAPITULO_DIAG2,CODIGO_GRUPO_DIAG2,GLOSA_GRUPO_DIAG2,CODIGO_CATEGORIA_DIAG2,GLOSA_CATEGORIA_DIAG2,CODIGO_SUBCATEGORIA_DIAG2,GLOSA_SUBCATEGORIA_DIAG2,LUGAR_DEFUNCION
0,2017,2017-01-03,Mujer,1,92,13501,Melipilla,Metropolitana de Santiago,D689,D50-D89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Casa habitación
1,2017,2017-01-03,Hombre,1,104,13501,Melipilla,Metropolitana de Santiago,J440,J00-J99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hospital o Clínica
2,2017,2017-06-21,Hombre,1,64,13501,Melipilla,Metropolitana de Santiago,I710,I00-I99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hospital o Clínica
3,2017,2017-06-16,Mujer,1,62,13501,Melipilla,Metropolitana de Santiago,I739,I00-I99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hospital o Clínica
4,2017,2017-06-12,Hombre,1,88,13501,Melipilla,Metropolitana de Santiago,I219,I00-I99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Casa habitación
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106383,2017,2017-11-17,Hombre,1,95,13120,Ñuñoa,Metropolitana de Santiago,J960,J00-J99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Casa habitación
106384,2017,2017-11-22,Mujer,1,92,13120,Ñuñoa,Metropolitana de Santiago,I64X,I00-I99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Casa habitación
106385,2017,2017-11-22,Mujer,1,103,13120,Ñuñoa,Metropolitana de Santiago,E119,E00-E90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Otro
106386,2017,2017-11-20,Mujer,1,93,13120,Ñuñoa,Metropolitana de Santiago,I269,I00-I99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Casa habitación
106387,2017,2017-11-17,Hombre,1,66,13120,Ñuñoa,Metropolitana de Santiago,I219,I00-I99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Otro

In [4]:
defunciones = defunciones[(defunciones['CODIGO_COMUNA_RESIDENCIA']!=99999) &
                          (defunciones['GLOSA_CAPITULO_DIAG1']=='Traumatismos, envenenamientos y algunas otras consecuencias de causas externas')]
defunciones = defunciones[['CODIGO_COMUNA_RESIDENCIA','GLOSA_CAPITULO_DIAG1','FECHA_DEF']]
def_2017 = (defunciones.groupby(by=['CODIGO_COMUNA_RESIDENCIA','GLOSA_CAPITULO_DIAG1'])
               .count().reset_index()
               .rename(columns = {'CODIGO_COMUNA_RESIDENCIA':'Comuna',
                                  'GLOSA_CAPITULO_DIAG1':'causa',
                                  'FECHA_DEF':'n_def'}))

In [5]:
defunciones['GLOSA_CAPITULO_DIAG1'].value_counts()

Traumatismos, envenenamientos y algunas otras consecuencias de causas externas    7578
Name: GLOSA_CAPITULO_DIAG1, dtype: int64

In [6]:
def_2017

     Comuna                                              causa  n_def
0      1101  Traumatismos, envenenamientos y algunas otras ...     75
1      1107  Traumatismos, envenenamientos y algunas otras ...     36
2      1401  Traumatismos, envenenamientos y algunas otras ...      6
3      1402  Traumatismos, envenenamientos y algunas otras ...      1
4      1404  Traumatismos, envenenamientos y algunas otras ...      4
..      ...                                                ...    ...
319   16301  Traumatismos, envenenamientos y algunas otras ...     25
320   16302  Traumatismos, envenenamientos y algunas otras ...     19
321   16303  Traumatismos, envenenamientos y algunas otras ...      7
322   16304  Traumatismos, envenenamientos y algunas otras ...      1
323   16305  Traumatismos, envenenamientos y algunas otras ...      9

[324 rows x 3 columns]

In [8]:
proy_pob = pd.read_excel("https://github.com/CatitaR/CapstoneProject_ADD/blob/main/data/raw/estimaciones-y-proyecciones-2002-2035-comuna-y-%C3%A1rea-urbana-y-rural.xlsx?raw=true")

In [9]:
proy_pob

,Region,Nombre Region,Provincia,Nombre Provincia,Comuna,Nombre Comuna,Sexo (1=Hombre 2=Mujer),Area (1=Urbano 2=Rural),Grupo edad,Poblacion 2002,...,Poblacion 2026,Poblacion 2027,Poblacion 2028,Poblacion 2029,Poblacion 2030,Poblacion 2031,Poblacion 2032,Poblacion 2033,Poblacion 2034,Poblacion 2035
0,1,Tarapacá,11,Iquique,1101,Iquique,1,1,0 Año,1467,...,1515,1498,1479,1463,1442,1437,1421,1406,1392,1374
1,1,Tarapacá,11,Iquique,1101,Iquique,1,1,De 1 a 4 años,5839,...,6037,5982,5914,5846,5776,5702,5637,5575,5519,5465
2,1,Tarapacá,11,Iquique,1101,Iquique,1,1,De 5 a 9 años,7455,...,7078,7094,7124,7134,7099,7033,6955,6870,6776,6689
3,1,Tarapacá,11,Iquique,1101,Iquique,1,1,De 10 a 14 años,7559,...,7509,7301,7090,6896,6737,6640,6654,6674,6670,6632
4,1,Tarapacá,11,Iquique,1101,Iquique,1,1,De 15 a 19 años,7525,...,7296,7392,7426,7403,7345,7229,7025,6817,6625,6469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24907,16,Ñuble,163,Punilla,16305,San Nicolás,2,2,De 60 a 64 años,157,...,246,249,253,258,260,261,264,263,264,264
24908,16,Ñuble,163,Punilla,16305,San Nicolás,2,2,De 65 a 69 años,110,...,236,241,246,248,254,257,261,265,269,272
24909,16,Ñuble,163,Punilla,16305,San Nicolás,2,2,De 70 a 74 años,90,...,199,204,210,217,224,232,237,241,245,251
24910,16,Ñuble,163,Punilla,16305,San Nicolás,2,2,De 75 a 79 años,70,...,154,158,165,170,174,179,188,195,202,208
24911,16,Ñuble,163,Punilla,16305,San Nicolás,2,2,80 años y más,63,...,180,187,194,204,212,223,232,243,253,266

In [10]:
proy_pob_2017 = proy_pob[['Comuna','Nombre Comuna','Poblacion 2017']].groupby(['Comuna','Nombre Comuna']).sum('Poblacion 2017').reset_index()

In [11]:
proy_pob_2017

     Comuna  Nombre Comuna  Poblacion 2017
0      1101        Iquique          202891
1      1107  Alto Hospicio          113098
2      1401   Pozo Almonte           15286
3      1402         Camiña            1286
4      1403       Colchane            1500
..      ...            ...             ...
341   16301     San Carlos           55278
342   16302       Coihueco           27680
343   16303         Ñiquén           11532
344   16304     San Fabián            4513
345   16305    San Nicolás           11850

[346 rows x 3 columns]

In [12]:
tasa_def = def_2017.merge(proy_pob_2017,on='Comuna',how='outer')
tasa_def['tasa_def'] = tasa_def['n_def']/tasa_def['Poblacion 2017']*100000
tasa_def["tasa_def"].fillna(0, inplace = True)

In [13]:
tasa_def

,Comuna,causa,n_def,Nombre Comuna,Poblacion 2017,tasa_def
0,1101,"Traumatismos, envenenamientos y algunas otras ...",75.0,Iquique,202891,36.965661
1,1107,"Traumatismos, envenenamientos y algunas otras ...",36.0,Alto Hospicio,113098,31.830802
2,1401,"Traumatismos, envenenamientos y algunas otras ...",6.0,Pozo Almonte,15286,39.251603
3,1402,"Traumatismos, envenenamientos y algunas otras ...",1.0,Camiña,1286,77.760498
4,1404,"Traumatismos, envenenamientos y algunas otras ...",4.0,Huara,2748,145.560408
...,...,...,...,...,...,...
341,12303,NaN,NaN,Timaukel,286,0.000000
342,12402,NaN,NaN,Torres del Paine,948,0.000000
343,15102,NaN,NaN,Camarones,1218,0.000000
344,15201,NaN,NaN,Putre,2441,0.000000
345,15202,NaN,NaN,General Lagos,795,0.000000

In [14]:
pob_rural = (proy_pob[['Comuna','Poblacion 2017','Area (1=Urbano 2=Rural)']]
                .groupby(['Comuna','Area (1=Urbano 2=Rural)']).sum().reset_index())
pob_rural = pob_rural[pob_rural['Area (1=Urbano 2=Rural)']==2]
pob_rural = pob_rural[['Comuna','Poblacion 2017']].rename(columns = {'Poblacion 2017': 'pob_rural'})
pob_rural = pob_rural.merge(proy_pob_2017,on='Comuna',how='outer')
pob_rural['prop_rural'] = pob_rural['pob_rural']/pob_rural['Poblacion 2017']*100
pob_rural = pd.DataFrame(pob_rural[['Comuna','prop_rural']])

In [15]:
pob_rural

     Comuna  prop_rural
0      1101    1.656555
1      1107    2.020372
2      1401   34.894675
3      1402  100.000000
4      1403  100.000000
..      ...         ...
341   16301   36.291110
342   16302   65.274566
343   16303   89.438085
344   16304   63.062265
345   16305   57.392405

[346 rows x 2 columns]

In [16]:
tasa_def = tasa_def.merge(pob_rural,on='Comuna',how='outer')
tasa_def

,Comuna,causa,n_def,Nombre Comuna,Poblacion 2017,tasa_def,prop_rural
0,1101,"Traumatismos, envenenamientos y algunas otras ...",75.0,Iquique,202891,36.965661,1.656555
1,1107,"Traumatismos, envenenamientos y algunas otras ...",36.0,Alto Hospicio,113098,31.830802,2.020372
2,1401,"Traumatismos, envenenamientos y algunas otras ...",6.0,Pozo Almonte,15286,39.251603,34.894675
3,1402,"Traumatismos, envenenamientos y algunas otras ...",1.0,Camiña,1286,77.760498,100.000000
4,1404,"Traumatismos, envenenamientos y algunas otras ...",4.0,Huara,2748,145.560408,59.752547
...,...,...,...,...,...,...,...
341,12303,NaN,NaN,Timaukel,286,0.000000,100.000000
342,12402,NaN,NaN,Torres del Paine,948,0.000000,100.000000
343,15102,NaN,NaN,Camarones,1218,0.000000,100.000000
344,15201,NaN,NaN,Putre,2441,0.000000,26.300696
345,15202,NaN,NaN,General Lagos,795,0.000000,100.000000

In [17]:
comunas = tasa_def[['Nombre Comuna','Comuna']].set_index('Nombre Comuna')
comunas_dict = comunas.to_dict()['Comuna']

In [18]:
comunas_dict

{'Iquique': 1101,
 'Alto Hospicio': 1107,
 'Pozo Almonte': 1401,
 'Camiña': 1402,
 'Huara': 1404,
 'Pica': 1405,
 'Antofagasta': 2101,
 'Mejillones': 2102,
 'Taltal': 2104,
 'Calama': 2201,
 'San Pedro de Atacama': 2203,
 'Tocopilla': 2301,
 'María Elena': 2302,
 'Copiapó': 3101,
 'Caldera': 3102,
 'Tierra Amarilla': 3103,
 'Chañaral': 3201,
 'Diego de Almagro': 3202,
 'Vallenar': 3301,
 'Alto del Carmen': 3302,
 'Huasco': 3304,
 'La Serena': 4101,
 'Coquimbo': 4102,
 'Andacollo': 4103,
 'La Higuera': 4104,
 'Vicuña': 4106,
 'Illapel': 4201,
 'Canela': 4202,
 'Los Vilos': 4203,
 'Salamanca': 4204,
 'Ovalle': 4301,
 'Combarbalá': 4302,
 'Monte Patria': 4303,
 'Punitaqui': 4304,
 'Río Hurtado': 4305,
 'Valparaíso': 5101,
 'Casablanca': 5102,
 'Concón': 5103,
 'Puchuncaví': 5105,
 'Quintero': 5107,
 'Viña del Mar': 5109,
 'Isla de Pascua': 5201,
 'Los Andes': 5301,
 'Calle Larga': 5302,
 'Rinconada': 5303,
 'San Esteban': 5304,
 'La Ligua': 5401,
 'Cabildo': 5402,
 'Papudo': 5403,
 'Petorca': 5404,
 'Zapallar': 5405,
 'Quillota': 5501,
 'Calera': 5502,
 'Hijuelas': 5503,
 'La Cruz': 5504,
 'Nogales': 5506,
 'San Antonio': 5601,
 'Algarrobo': 5602,
 'Cartagena': 5603,
 'El Quisco': 5604,
 'El Tabo': 5605,
 'Santo Domingo': 5606,
 'San Felipe': 5701,
 'Catemu': 5702,
 'Llaillay': 5703,
 'Panquehue': 5704,
 'Putaendo': 5705,
 'Santa María': 5706,
 'Quilpué': 5801,
 'Limache': 5802,
 'Olmué': 5803,
 'Villa Alemana': 5804,
 'Rancagua': 6101,
 'Codegua': 6102,
 'Coinco': 6103,
 'Coltauco': 6104,
 'Doñihue': 6105,
 'Graneros': 6106,
 'Las Cabras': 6107,
 'Machalí': 6108,
 'Malloa': 6109,
 'Mostazal': 6110,
 'Olivar': 6111,
 'Peumo': 6112,
 'Pichidegua': 6113,
 'Quinta de Tilcoco': 6114,
 'Rengo': 6115,
 'Requínoa': 6116,
 'San Vicente': 6117,
 'Pichilemu': 6201,
 'La Estrella': 6202,
 'Litueche': 6203,
 'Marchihue': 6204,
 'Navidad': 6205,
 'Paredones': 6206,
 'San Fernando': 6301,
 'Chépica': 6302,
 'Chimbarongo': 6303,
 'Lolol': 6304,
 'Nancagua': 6305,
 'Palmilla': 6306,
 'Peralillo': 6307,
 'Placilla': 6308,
 'Pumanque': 6309,
 'Santa Cruz': 6310,
 'Talca': 7101,
 'Constitución': 7102,
 'Curepto': 7103,
 'Empedrado': 7104,
 'Maule': 7105,
 'Pelarco': 7106,
 'Pencahue': 7107,
 'Río Claro': 7108,
 'San Clemente': 7109,
 'San Rafael': 7110,
 'Cauquenes': 7201,
 'Chanco': 7202,
 'Pelluhue': 7203,
 'Curicó': 7301,
 'Hualañé': 7302,
 'Licantén': 7303,
 'Molina': 7304,
 'Rauco': 7305,
 'Romeral': 7306,
 'Sagrada Familia': 7307,
 'Teno': 7308,
 'Vichuquén': 7309,
 'Linares': 7401,
 'Colbún': 7402,
 'Longaví': 7403,
 'Parral': 7404,
 'Retiro': 7405,
 'San Javier': 7406,
 'Villa Alegre': 7407,
 'Yerbas Buenas': 7408,
 'Concepción': 8101,
 'Coronel': 8102,
 'Chiguayante': 8103,
 'Florida': 8104,
 'Hualqui': 8105,
 'Lota': 8106,
 'Penco': 8107,
 'San Pedro de la Paz': 8108,
 'Santa Juana': 8109,
 'Talcahuano': 8110,
 'Tomé': 8111,
 'Hualpén': 8112,
 'Lebu': 8201,
 'Arauco': 8202,
 'Cañete': 8203,
 'Contulmo': 8204,
 'Curanilahue': 8205,
 'Los Álamos': 8206,
 'Tirúa': 8207,
 'Los Angeles': 8301,
 'Antuco': 8302,
 'Cabrero': 8303,
 'Laja': 8304,
 'Mulchén': 8305,
 'Nacimiento': 8306,
 'Negrete': 8307,
 'Quilaco': 8308,
 'Quilleco': 8309,
 'San Rosendo': 8310,
 'Santa Bárbara': 8311,
 'Tucapel': 8312,
 'Yumbel': 8313,
 'Alto Biobío': 8314,
 'Temuco': 9101,
 'Carahue': 9102,
 'Cunco': 9103,
 'Curarrehue': 9104,
 'Freire': 9105,
 'Galvarino': 9106,
 'Gorbea': 9107,
 'Lautaro': 9108,
 'Loncoche': 9109,
 'Melipeuco': 9110,
 'Nueva Imperial': 9111,
 'Padre Las Casas': 9112,
 'Perquenco': 9113,
 'Pitrufquen': 9114,
 'Pucón': 9115,
 'Saavedra': 9116,
 'Teodoro Schmidt': 9117,
 'Toltén': 9118,
 'Vilcún': 9119,
 'Villarrica': 9120,
 'Cholchol': 9121,
 'Angol': 9201,
 'Collipulli': 9202,
 'Curacautín': 9203,
 'Ercilla': 9204,
 'Lonquimay': 9205,
 'Los Sauces': 9206,
 'Lumaco': 9207,
 'Purén': 9208,
 'Renaico': 9209,
 'Traiguén': 9210,
 'Victoria': 9211,
 'Puerto Montt': 10101,
 'Calbuco': 10102,
 'Cochamó': 10103,
 'Fresia': 10104,
 'Frutillar': 10105,
 'Los Muermos': 10106,
 'Llanquihue': 10107,
 'Maullín': 10108,
 'Puerto Varas': 10109,
 'Castro': 10201,
 'Ancud': 10202,
 'Chonchi': 10203,
 'Dalcahue': 10205,
 'Puqueldón': 10206,
 'Queilén': 10207,
 'Quellón': 10208,
 'Quemchi': 10209,
 'Quinchao': 10210,
 'Osorno': 10301,
 'Puerto Octay': 10302,
 'Purranque': 10303,
 'Puyehue': 10304,
 'Río Negro': 10305,
 'San Juan de la Costa': 10306,
 'San Pablo': 10307,
 'Chaitén': 10401,
 'Futaleufú': 10402,
 'Hualaihué': 10403,
 'Coyhaique': 11101,
 'Aysén': 11201,
 'Cisnes': 11202,
 'Cochrane': 11301,
 'Chile Chico': 11401,
 'Río Ibáñez': 11402,
 'Punta Arenas': 12101,
 'Porvenir': 12301,
 'Primavera': 12302,
 'Natales': 12401,
 'Santiago': 13101,
 'Cerrillos': 13102,
 'Cerro Navia': 13103,
 'Conchalí': 13104,
 'El Bosque': 13105,
 'Estación Central': 13106,
 'Huechuraba': 13107,
 'Independencia': 13108,
 'La Cisterna': 13109,
 'La Florida': 13110,
 'La Granja': 13111,
 'La Pintana': 13112,
 'La Reina': 13113,
 'Las Condes': 13114,
 'Lo Barnechea': 13115,
 'Lo Espejo': 13116,
 'Lo Prado': 13117,
 'Macul': 13118,
 'Maipú': 13119,
 'Ñuñoa': 13120,
 'Pedro Aguirre Cerda': 13121,
 'Peñalolén': 13122,
 'Providencia': 13123,
 'Pudahuel': 13124,
 'Quilicura': 13125,
 'Quinta Normal': 13126,
 'Recoleta': 13127,
 'Renca': 13128,
 'San Joaquín': 13129,
 'San Miguel': 13130,
 'San Ramón': 13131,
 'Vitacura': 13132,
 'Puente Alto': 13201,
 'Pirque': 13202,
 'San José de Maipo': 13203,
 'Colina': 13301,
 'Lampa': 13302,
 'Tiltil': 13303,
 'San Bernardo': 13401,
 'Buin': 13402,
 'Calera de Tango': 13403,
 'Paine': 13404,
 'Melipilla': 13501,
 'Alhué': 13502,
 'Curacaví': 13503,
 'María Pinto': 13504,
 'San Pedro': 13505,
 'Talagante': 13601,
 'El Monte': 13602,
 'Isla de Maipo': 13603,
 'Padre Hurtado': 13604,
 'Peñaflor': 13605,
 'Valdivia': 14101,
 'Corral': 14102,
 'Lanco': 14103,
 'Los Lagos': 14104,
 'Máfil': 14105,
 'Mariquina': 14106,
 'Paillaco': 14107,
 'Panguipulli': 14108,
 'La Unión': 14201,
 'Futrono': 14202,
 'Lago Ranco': 14203,
 'Río Bueno': 14204,
 'Arica': 15101,
 'Chillán': 16101,
 'Bulnes': 16102,
 'Chillán Viejo': 16103,
 'El Carmen': 16104,
 'Pemuco': 16105,
 'Pinto': 16106,
 'Quillón': 16107,
 'San Ignacio': 16108,
 'Yungay': 16109,
 'Quirihue': 16201,
 'Cobquecura': 16202,
 'Coelemu': 16203,
 'Ninhue': 16204,
 'Portezuelo': 16205,
 'Ránquil': 16206,
 'Treguaco': 16207,
 'San Carlos': 16301,
 'Coihueco': 16302,
 'Ñiquén': 16303,
 'San Fabián': 16304,
 'San Nicolás': 16305,
 'Colchane': 1403,
 'Sierra Gorda': 2103,
 'Ollagüe': 2202,
 'Freirina': 3303,
 'Paiguano': 4105,
 'Juan Fernández': 5104,
 'Curaco de Vélez': 10204,
 'Palena': 10404,
 'Lago Verde': 11102,
 'Guaitecas': 11203,
 "O'Higgins": 11302,
 'Tortel': 11303,
 'Laguna Blanca': 12102,
 'Río Verde': 12103,
 'San Gregorio': 12104,
 'Cabo de Hornos': 12201,
 'Antártica': 12202,
 'Timaukel': 12303,
 'Torres del Paine': 12402,
 'Camarones': 15102,
 'Putre': 15201,
 'General Lagos': 15202}

In [19]:
tasa_def['Nombre Comuna'].unique()

array(['Iquique', 'Alto Hospicio', 'Pozo Almonte', 'Camiña', 'Huara',
       'Pica', 'Antofagasta', 'Mejillones', 'Taltal', 'Calama',
       'San Pedro de Atacama', 'Tocopilla', 'María Elena', 'Copiapó',
       'Caldera', 'Tierra Amarilla', 'Chañaral', 'Diego de Almagro',
       'Vallenar', 'Alto del Carmen', 'Huasco', 'La Serena', 'Coquimbo',
       'Andacollo', 'La Higuera', 'Vicuña', 'Illapel', 'Canela',
       'Los Vilos', 'Salamanca', 'Ovalle', 'Combarbalá', 'Monte Patria',
       'Punitaqui', 'Río Hurtado', 'Valparaíso', 'Casablanca', 'Concón',
       'Puchuncaví', 'Quintero', 'Viña del Mar', 'Isla de Pascua',
       'Los Andes', 'Calle Larga', 'Rinconada', 'San Esteban', 'La Ligua',
       'Cabildo', 'Papudo', 'Petorca', 'Zapallar', 'Quillota', 'Calera',
       'Hijuelas', 'La Cruz', 'Nogales', 'San Antonio', 'Algarrobo',
       'Cartagena', 'El Quisco', 'El Tabo', 'Santo Domingo', 'San Felipe',
       'Catemu', 'Llaillay', 'Panquehue', 'Putaendo', 'Santa María',
       'Quilpué', 'Limache', 'Olmué', 'Villa Alemana', 'Rancagua',
       'Codegua', 'Coinco', 'Coltauco', 'Doñihue', 'Graneros',
       'Las Cabras', 'Machalí', 'Malloa', 'Mostazal', 'Olivar', 'Peumo',
       'Pichidegua', 'Quinta de Tilcoco', 'Rengo', 'Requínoa',
       'San Vicente', 'Pichilemu', 'La Estrella', 'Litueche', 'Marchihue',
       'Navidad', 'Paredones', 'San Fernando', 'Chépica', 'Chimbarongo',
       'Lolol', 'Nancagua', 'Palmilla', 'Peralillo', 'Placilla',
       'Pumanque', 'Santa Cruz', 'Talca', 'Constitución', 'Curepto',
       'Empedrado', 'Maule', 'Pelarco', 'Pencahue', 'Río Claro',
       'San Clemente', 'San Rafael', 'Cauquenes', 'Chanco', 'Pelluhue',
       'Curicó', 'Hualañé', 'Licantén', 'Molina', 'Rauco', 'Romeral',
       'Sagrada Familia', 'Teno', 'Vichuquén', 'Linares', 'Colbún',
       'Longaví', 'Parral', 'Retiro', 'San Javier', 'Villa Alegre',
       'Yerbas Buenas', 'Concepción', 'Coronel', 'Chiguayante', 'Florida',
       'Hualqui', 'Lota', 'Penco', 'San Pedro de la Paz', 'Santa Juana',
       'Talcahuano', 'Tomé', 'Hualpén', 'Lebu', 'Arauco', 'Cañete',
       'Contulmo', 'Curanilahue', 'Los Álamos', 'Tirúa', 'Los Angeles',
       'Antuco', 'Cabrero', 'Laja', 'Mulchén', 'Nacimiento', 'Negrete',
       'Quilaco', 'Quilleco', 'San Rosendo', 'Santa Bárbara', 'Tucapel',
       'Yumbel', 'Alto Biobío', 'Temuco', 'Carahue', 'Cunco',
       'Curarrehue', 'Freire', 'Galvarino', 'Gorbea', 'Lautaro',
       'Loncoche', 'Melipeuco', 'Nueva Imperial', 'Padre Las Casas',
       'Perquenco', 'Pitrufquen', 'Pucón', 'Saavedra', 'Teodoro Schmidt',
       'Toltén', 'Vilcún', 'Villarrica', 'Cholchol', 'Angol',
       'Collipulli', 'Curacautín', 'Ercilla', 'Lonquimay', 'Los Sauces',
       'Lumaco', 'Purén', 'Renaico', 'Traiguén', 'Victoria',
       'Puerto Montt', 'Calbuco', 'Cochamó', 'Fresia', 'Frutillar',
       'Los Muermos', 'Llanquihue', 'Maullín', 'Puerto Varas', 'Castro',
       'Ancud', 'Chonchi', 'Dalcahue', 'Puqueldón', 'Queilén', 'Quellón',
       'Quemchi', 'Quinchao', 'Osorno', 'Puerto Octay', 'Purranque',
       'Puyehue', 'Río Negro', 'San Juan de la Costa', 'San Pablo',
       'Chaitén', 'Futaleufú', 'Hualaihué', 'Coyhaique', 'Aysén',
       'Cisnes', 'Cochrane', 'Chile Chico', 'Río Ibáñez', 'Punta Arenas',
       'Porvenir', 'Primavera', 'Natales', 'Santiago', 'Cerrillos',
       'Cerro Navia', 'Conchalí', 'El Bosque', 'Estación Central',
       'Huechuraba', 'Independencia', 'La Cisterna', 'La Florida',
       'La Granja', 'La Pintana', 'La Reina', 'Las Condes',
       'Lo Barnechea', 'Lo Espejo', 'Lo Prado', 'Macul', 'Maipú', 'Ñuñoa',
       'Pedro Aguirre Cerda', 'Peñalolén', 'Providencia', 'Pudahuel',
       'Quilicura', 'Quinta Normal', 'Recoleta', 'Renca', 'San Joaquín',
       'San Miguel', 'San Ramón', 'Vitacura', 'Puente Alto', 'Pirque',
       'San José de Maipo', 'Colina', 'Lampa', 'Tiltil', 'San Bernardo',
       'Buin', 'Calera de Tango', 'Paine', 'Melipilla', 'Alhué',
       'Curacaví', 'María Pinto', 'San Pedro', 'Talagante', 'El Monte',
       'Isla de Maipo', 'Padre Hurtado', 'Peñaflor', 'Valdivia', 'Corral',
       'Lanco', 'Los Lagos', 'Máfil', 'Mariquina', 'Paillaco',
       'Panguipulli', 'La Unión', 'Futrono', 'Lago Ranco', 'Río Bueno',
       'Arica', 'Chillán', 'Bulnes', 'Chillán Viejo', 'El Carmen',
       'Pemuco', 'Pinto', 'Quillón', 'San Ignacio', 'Yungay', 'Quirihue',
       'Cobquecura', 'Coelemu', 'Ninhue', 'Portezuelo', 'Ránquil',
       'Treguaco', 'San Carlos', 'Coihueco', 'Ñiquén', 'San Fabián',
       'San Nicolás', 'Colchane', 'Sierra Gorda', 'Ollagüe', 'Freirina',
       'Paiguano', 'Juan Fernández', 'Curaco de Vélez', 'Palena',
       'Lago Verde', 'Guaitecas', "O'Higgins", 'Tortel', 'Laguna Blanca',
       'Río Verde', 'San Gregorio', 'Cabo de Hornos', 'Antártica',
       'Timaukel', 'Torres del Paine', 'Camarones', 'Putre',
       'General Lagos'], dtype=object)

In [20]:
r = requests.get('https://github.com/CatitaR/CapstoneProject_ADD/blob/main/data/raw/casen2017.zip?raw=true')
z = zipfile.ZipFile(io.BytesIO(r.content))

In [21]:
casen_2017 = pd.read_stata(z.open('Casen 2017.dta'),columns = ['folio','o','id_vivienda', 'hogar', 'region', 'provincia', 'comuna','zona', 'expr', 'expc',
                        'yautcor','ytotcor','yautcorh','ypc','pobreza','r3'])

In [22]:
casen_2017

,folio,o,id_vivienda,hogar,region,provincia,comuna,zona,expr,expc,yautcor,ytotcor,yautcorh,ypc,pobreza,r3
0,1.101100e+11,1.0,1.101100e+09,1.0,Región de Tarapacá,Iquique,Iquique,Urbano,39.0,33.0,250000.0,250000.0,250000.0,250000.0,No pobres,Aimara
1,1.101100e+11,1.0,1.101100e+09,1.0,Región de Tarapacá,Iquique,Iquique,Urbano,39.0,33.0,200000.0,211091.0,200000.0,211091.0,No pobres,No pertenece a ningún pueblo indígena
2,1.101100e+11,1.0,1.101100e+09,1.0,Región de Tarapacá,Iquique,Iquique,Urbano,39.0,33.0,281750.0,281750.0,593500.0,296750.0,No pobres,No pertenece a ningún pueblo indígena
3,1.101100e+11,2.0,1.101100e+09,1.0,Región de Tarapacá,Iquique,Iquique,Urbano,39.0,33.0,311750.0,311750.0,593500.0,296750.0,No pobres,No pertenece a ningún pueblo indígena
4,1.101100e+11,1.0,1.101100e+09,1.0,Región de Tarapacá,Iquique,Iquique,Urbano,39.0,33.0,341667.0,341667.0,341667.0,113889.0,No pobres,No pertenece a ningún pueblo indígena
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216434,1.520130e+12,1.0,1.520130e+10,1.0,Región de Arica y Parinacota,Parinacota,Putre,Rural,7.0,4.0,NaN,104646.0,200000.0,254646.0,No pobres,Aimara
216435,1.520130e+12,2.0,1.520130e+10,1.0,Región de Arica y Parinacota,Parinacota,Putre,Rural,7.0,4.0,200000.0,304646.0,200000.0,254646.0,No pobres,Aimara
216436,1.520130e+12,1.0,1.520130e+10,1.0,Región de Arica y Parinacota,Parinacota,Putre,Rural,7.0,4.0,90000.0,90000.0,340000.0,195000.0,No pobres,Aimara
216437,1.520130e+12,2.0,1.520130e+10,1.0,Región de Arica y Parinacota,Parinacota,Putre,Rural,7.0,4.0,250000.0,250000.0,340000.0,195000.0,No pobres,Aimara
216438,1.520130e+12,1.0,1.520130e+10,1.0,Región de Arica y Parinacota,Parinacota,Putre,Rural,7.0,4.0,800000.0,800000.0,800000.0,900000.0,No pobres,Aimara

In [23]:
casen_2017.region.value_counts()

Región Metropolitana de Santiago                    42601
Región del Biobío                                   21532
Región de Valparaíso                                19625
Región del Libertador Gral. Bernardo OHiggins      15862
Región de La Araucanía                              15481
Región del Maule                                    15208
Región de Los Lagos                                 12442
Región de Los Ríos                                  10175
Región de Tarapacá                                  10150
Región de Coquimbo                                   9952
Región de Antofagasta                                8510
Región de Ñuble                                      8370
Región de Arica y Parinacota                         7888
Región de Atacama                                    6961
Región de Magallanes y de la Antártica Chilena       6637
Región de Ayséndel Gral. Carlos Ibáñez del Campo     5045
Name: region, dtype: int64

In [24]:
casen_2017['comuna'] = np.where(casen_2017['comuna']=='Los Ángeles','Los Angeles',
                               np.where(casen_2017['comuna']=='Pitrufquén','Pitrufquen',casen_2017['comuna']))
casen_2017['Comuna'] = casen_2017['comuna'].map(comunas_dict)
casen_2017['etnia'] = np.where(casen_2017['r3']=='No pertenece a ningún pueblo indígena',0,
                                         np.where(casen_2017['r3']=='No sabe/no responde',0,1))

In [26]:
casen_2017['Comuna'] = casen_2017['Comuna'].astype(int)

In [27]:
casen_hogar = casen_2017.drop_duplicates(casen_2017.columns[~casen_2017.columns.isin(['folio'])],
                        keep='first')

In [28]:
def weighted_average(df, values, weights):
    return sum(df[weights] * df[values]) / df[weights].sum()

In [29]:
ing = (pd.DataFrame(casen_2017.groupby('Comuna').apply(weighted_average, 'ypc', 'expc'))
       .reset_index()
      .rename(columns={0:'ingreso'}))

In [30]:
ing

     Comuna        ingreso
0      1101  374238.551638
1      1107  236733.338526
2      1401  296573.094038
3      1402  278387.987981
4      1404  286434.775803
..      ...            ...
319   16301  244142.832344
320   16302  192525.594612
321   16303  193986.236065
322   16304  241954.817840
323   16305  207441.374733

[324 rows x 2 columns]

In [31]:
etnia = (pd.DataFrame(casen_2017.groupby('Comuna').apply(weighted_average, 'etnia', 'expc'))
         .reset_index()
        .rename(columns={0:'etnia'}))
etnia['etnia'] = etnia['etnia']*100

In [32]:
etnia

     Comuna      etnia
0      1101  14.216835
1      1107  20.904774
2      1401  46.480097
3      1402  85.456731
4      1404  45.613532
..      ...        ...
319   16301   1.246291
320   16302   6.042014
321   16303   3.528330
322   16304   0.719875
323   16305   2.284960

[324 rows x 2 columns]

In [33]:
tasa_def = tasa_def.merge(etnia,on='Comuna',how='outer').merge(ing,on='Comuna',how='outer')

In [34]:
tasa_def[tasa_def['ingreso'].isnull()]
#las siguientes comunas no están en casen 2017:
#Isla de Pascua, Cochamó, Chaitén, Futaleufú, Hualaihué, Primavera, Colchane, Ollagüe, Juan Fernández, Palena
#Lago Verde, Guaitecas, O'Higgins, Tortel, Laguna Blanca, Río Verde, San Gregorio, Cabo de Hornos
#Antártica, Timaukel, Torres del Paine, General Lagos

,Comuna,causa,n_def,Nombre Comuna,Poblacion 2017,tasa_def,prop_rural,etnia,ingreso
41,5201,"Traumatismos, envenenamientos y algunas otras ...",3.0,Isla de Pascua,7648,39.225941,8.002092,NaN,NaN
202,10103,"Traumatismos, envenenamientos y algunas otras ...",5.0,Cochamó,4041,123.731750,100.000000,NaN,NaN
225,10401,"Traumatismos, envenenamientos y algunas otras ...",18.0,Chaitén,4980,361.445783,65.622490,NaN,NaN
226,10402,"Traumatismos, envenenamientos y algunas otras ...",5.0,Futaleufú,2709,184.569952,32.189000,NaN,NaN
227,10403,"Traumatismos, envenenamientos y algunas otras ...",5.0,Hualaihué,9407,53.151908,58.392686,NaN,NaN
236,12302,"Traumatismos, envenenamientos y algunas otras ...",1.0,Primavera,704,142.045455,100.000000,NaN,NaN
324,1403,NaN,NaN,Colchane,1500,0.000000,100.000000,NaN,NaN
326,2202,NaN,NaN,Ollagüe,281,0.000000,100.000000,NaN,NaN
329,5104,NaN,NaN,Juan Fernández,963,0.000000,100.000000,NaN,NaN
331,10404,NaN,NaN,Palena,1812,0.000000,27.704194,NaN,NaN
332,11102,NaN,NaN,Lago Verde,919,0.000000,100.000000,NaN,NaN
333,11203,NaN,NaN,Guaitecas,1575,0.000000,9.714286,NaN,NaN
334,11302,NaN,NaN,O'Higgins,641,0.000000,100.000000,NaN,NaN
335,11303,NaN,NaN,Tortel,557,0.000000,100.000000,NaN,NaN
336,12102,NaN,NaN,Laguna Blanca,273,0.000000,100.000000,NaN,NaN
337,12103,NaN,NaN,Río Verde,215,0.000000,100.000000,NaN,NaN
338,12104,NaN,NaN,San Gregorio,699,0.000000,100.000000,NaN,NaN
339,12201,NaN,NaN,Cabo de Hornos,1963,0.000000,9.831890,NaN,NaN
340,12202,NaN,NaN,Antártica,123,0.000000,100.000000,NaN,NaN
341,12303,NaN,NaN,Timaukel,286,0.000000,100.000000,NaN,NaN
342,12402,NaN,NaN,Torres del Paine,948,0.000000,100.000000,NaN,NaN
345,15202,NaN,NaN,General Lagos,795,0.000000,100.000000,NaN,NaN

In [35]:
tasa_def = tasa_def.dropna(subset=['etnia','ingreso'])

In [36]:
denuncias = pd.read_excel('https://github.com/CatitaR/CapstoneProject_ADD/blob/main/data/raw/datos%20denuncias%202017.xls?raw=true')

In [37]:
denuncias

,Unidad territorial,Variable,2017
0,General Lagos (Región de Arica y Parinacota),Tasa de Denuncias de DMCS,674.536256
1,Putre (Región de Arica y Parinacota),Tasa de Denuncias de DMCS,1240.762704
2,Arica (Región de Arica y Parinacota),Tasa de Denuncias de DMCS,2568.786527
3,Camarones (Región de Arica y Parinacota),Tasa de Denuncias de DMCS,775.193798
4,Colchane,Tasa de Denuncias de DMCS,1210.962396
...,...,...,...
341,Punta Arenas,Tasa de Denuncias de DMCS,592.478104
342,Porvenir,Tasa de Denuncias de DMCS,1650.322889
343,Timaukel,Tasa de Denuncias de DMCS,2493.024384
344,Cabo De Hornos,Tasa de Denuncias de DMCS,421.257291
345,Antártica,Tasa de Denuncias de DMCS,0.000000

In [38]:
denuncias['glosa_comuna'] = denuncias['Unidad territorial'].replace(r"\(Región de Arica y Parinacota\)","",regex=True)
denuncias['glosa_comuna'] = denuncias['glosa_comuna'].replace(r"Los Ángeles","Los Angeles",regex=True)
denuncias['glosa_comuna'] = denuncias['glosa_comuna'].replace(r"Pitrufquén","Pitrufquen",regex=True)
denuncias['glosa_comuna'] = denuncias['glosa_comuna'].replace(r"O’higgins","O'Higgins",regex=True)
denuncias['glosa_comuna'] = denuncias['glosa_comuna'].replace(r"\(Región de los Ríos\)","",regex=True)
denuncias['glosa_comuna'] = denuncias['glosa_comuna'].replace(r"\s+$","",regex=True)
denuncias['glosa_comuna'] = denuncias['glosa_comuna'].replace(r" De"," de",regex=True)
denuncias['glosa_comuna'] = denuncias['glosa_comuna'].replace(r" La "," la ",regex=True)
denuncias['Comuna'] = denuncias['glosa_comuna'].map(comunas_dict)

In [39]:
denuncias[denuncias['Comuna'].isnull()].glosa_comuna

Series([], Name: glosa_comuna, dtype: object)

In [40]:
denuncias.columns = denuncias.columns.str.replace(' 2017','tasa_denuncias')
denuncias = denuncias[['Comuna','tasa_denuncias']]

In [41]:
denuncias

     Comuna  tasa_denuncias
0     15202      674.536256
1     15201     1240.762704
2     15101     2568.786527
3     15102      775.193798
4      1403     1210.962396
..      ...             ...
341   12101      592.478104
342   12301     1650.322889
343   12303     2493.024384
344   12201      421.257291
345   12202        0.000000

[346 rows x 2 columns]

In [42]:
tasa_def = tasa_def.merge(denuncias,on='Comuna',how='outer')

In [43]:
tasa_def[tasa_def['tasa_denuncias'].isnull()]
#no hay comunas que estén en la base de datos de denuncias pero no en defunciones

Empty DataFrame
Columns: [Comuna, causa, n_def, Nombre Comuna, Poblacion 2017, tasa_def, prop_rural, etnia, ingreso, tasa_denuncias]
Index: []

In [44]:
tasa_def = tasa_def.dropna(subset=['etnia','ingreso'])

In [45]:
tasa_def

,Comuna,causa,n_def,Nombre Comuna,Poblacion 2017,tasa_def,prop_rural,etnia,ingreso,tasa_denuncias
0,1101,"Traumatismos, envenenamientos y algunas otras ...",75.0,Iquique,202891.0,36.965661,1.656555,14.216835,374238.551638,3802.469404
1,1107,"Traumatismos, envenenamientos y algunas otras ...",36.0,Alto Hospicio,113098.0,31.830802,2.020372,20.904774,236733.338526,2324.900350
2,1401,"Traumatismos, envenenamientos y algunas otras ...",6.0,Pozo Almonte,15286.0,39.251603,34.894675,46.480097,296573.094038,1354.401806
3,1402,"Traumatismos, envenenamientos y algunas otras ...",1.0,Camiña,1286.0,77.760498,100.000000,85.456731,278387.987981,849.514563
4,1404,"Traumatismos, envenenamientos y algunas otras ...",4.0,Huara,2748.0,145.560408,59.752547,45.613532,286434.775803,1399.155227
...,...,...,...,...,...,...,...,...,...,...
319,3303,NaN,NaN,Freirina,7403.0,0.000000,33.283804,14.006628,228758.240712,970.047651
320,4105,NaN,NaN,Paiguano,4586.0,0.000000,100.000000,8.922670,212913.276713,1357.762972
321,10204,NaN,NaN,Curaco de Vélez,3989.0,0.000000,67.084482,29.694323,215509.056769,749.765698
322,15102,NaN,NaN,Camarones,1218.0,0.000000,100.000000,87.575962,244274.378123,775.193798
323,15201,NaN,NaN,Putre,2441.0,0.000000,26.300696,91.489362,285331.796099,1240.762704

In [46]:
tasa_def['region'] = np.where(tasa_def['Comuna']>=10000, tasa_def['Comuna'].astype(str).str[0:2], tasa_def['Comuna'].astype(str).str[0])
tasa_def['region'] = tasa_def['region'].astype('int64')
tasa_def['rm'] = np.where(tasa_def['region']==13, 1,0)

In [47]:
tasa_def['region'].value_counts()

13    52
5     36
6     33
8     33
9     32
7     30
10    25
16    21
4     15
14    12
3      9
2      8
1      6
11     6
12     3
15     3
Name: region, dtype: int64

In [61]:
tasa_def_rm = tasa_def[tasa_def['region']==13]
tasa_def_otras = tasa_def[tasa_def['region']!=13]

In [49]:
os.chdir('/Users/catalinaeq/Documents/GitHub/CapstoneProject_ADD/data/processed')
tasa_def.to_csv('base_analisis.csv',sep=',')
tasa_def_rm.to_csv('base_analisis_rm.csv',sep=',')
tasa_def_otras.to_csv('base_analisis_otras.csv',sep=',')

In [53]:
sicvir = pd.read_excel('https://github.com/CatitaR/CapstoneProject_ADD/blob/main/data/raw/indicadores-sicvir-linea-base-resultados.xlsx?raw=true')

In [55]:
sicvir = sicvir[['COD_COM','BS07']].rename(columns = {'COD_COM':'Comuna','BS07':'tiempo_hospital'})

In [66]:

sicvir['tiempo_hospital'] = sicvir['tiempo_hospital'].astype('float')

In [67]:
tasa_def_otras2 = tasa_def_otras.merge(sicvir,on='Comuna',how='outer')

In [68]:
tasa_def_otras2

,Comuna,causa,n_def,Nombre Comuna,Poblacion 2017,tasa_def,prop_rural,etnia,ingreso,tasa_denuncias,region,rm,tiempo_hospital
0,1101,"Traumatismos, envenenamientos y algunas otras ...",75.0,Iquique,202891.0,36.965661,1.656555,14.216835,374238.551638,3802.469404,1.0,0.0,NaN
1,1107,"Traumatismos, envenenamientos y algunas otras ...",36.0,Alto Hospicio,113098.0,31.830802,2.020372,20.904774,236733.338526,2324.900350,1.0,0.0,NaN
2,1401,"Traumatismos, envenenamientos y algunas otras ...",6.0,Pozo Almonte,15286.0,39.251603,34.894675,46.480097,296573.094038,1354.401806,1.0,0.0,64.86
3,1402,"Traumatismos, envenenamientos y algunas otras ...",1.0,Camiña,1286.0,77.760498,100.000000,85.456731,278387.987981,849.514563,1.0,0.0,291.50
4,1404,"Traumatismos, envenenamientos y algunas otras ...",4.0,Huara,2748.0,145.560408,59.752547,45.613532,286434.775803,1399.155227,1.0,0.0,175.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,13504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.06
300,13505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.07
301,13602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.68
302,13603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.89
303,15202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,484.92

In [69]:
tasa_def_otras2 = tasa_def_otras2.dropna(subset=['tasa_def','tiempo_hospital'])

In [70]:
tasa_def_otras2

,Comuna,causa,n_def,Nombre Comuna,Poblacion 2017,tasa_def,prop_rural,etnia,ingreso,tasa_denuncias,region,rm,tiempo_hospital
2,1401,"Traumatismos, envenenamientos y algunas otras ...",6.0,Pozo Almonte,15286.0,39.251603,34.894675,46.480097,296573.094038,1354.401806,1.0,0.0,64.86
3,1402,"Traumatismos, envenenamientos y algunas otras ...",1.0,Camiña,1286.0,77.760498,100.000000,85.456731,278387.987981,849.514563,1.0,0.0,291.50
4,1404,"Traumatismos, envenenamientos y algunas otras ...",4.0,Huara,2748.0,145.560408,59.752547,45.613532,286434.775803,1399.155227,1.0,0.0,175.51
5,1405,"Traumatismos, envenenamientos y algunas otras ...",4.0,Pica,5320.0,75.187970,32.312030,55.034542,404464.294369,657.794869,1.0,0.0,122.63
7,2102,"Traumatismos, envenenamientos y algunas otras ...",6.0,Mejillones,12933.0,46.392948,4.538777,4.984291,318447.864567,1220.198986,2.0,0.0,9.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,3303,NaN,NaN,Freirina,7403.0,0.000000,33.283804,14.006628,228758.240712,970.047651,3.0,0.0,70.67
268,4105,NaN,NaN,Paiguano,4586.0,0.000000,100.000000,8.922670,212913.276713,1357.762972,4.0,0.0,46.38
269,10204,NaN,NaN,Curaco de Vélez,3989.0,0.000000,67.084482,29.694323,215509.056769,749.765698,10.0,0.0,34.71
270,15102,NaN,NaN,Camarones,1218.0,0.000000,100.000000,87.575962,244274.378123,775.193798,15.0,0.0,401.24
271,15201,NaN,NaN,Putre,2441.0,0.000000,26.300696,91.489362,285331.796099,1240.762704,15.0,0.0,318.50

In [71]:
os.chdir('/Users/catalinaeq/Documents/GitHub/CapstoneProject_ADD/data/processed')
tasa_def_otras2.to_csv('base_analisis_otras2.csv',sep=',')